.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gifs {
  width: 25%;
}
#gif1 {
  margin-left: 20%;
}
#gif2 {
  margin-right: 20%;
}
.gifs .images {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
