.video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.ctext {
    width: 65%;
    margin: 0 auto;
}
.gifs {
    width: 25%;
}
#gif1 {
    margin-left: 20%;
}
#gif2 {
    margin-right: 20%;
}
.gifs .images{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {
    #projectflow .flexflow div.contentblocks p{
        width: 100%
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .ctext {
        width: 100%;
    }
}