<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116936546-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116936546-2');
    </script>
    <title>Project Title - Jinghan Luo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../projectpage.css">
    <link rel="stylesheet" type="text/css" href="enroute.css">
    <link rel="stylesheet" href="https://use.typekit.net/fgx1ngo.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
</head>

<body>
    <div id="header">
        <a href="../index.html"><img id="logo" src="../mainassets/logo.png"></a>
        <!-- <h1 id="name"><a href="../index.html">Jinghan Luo</a></h1>
        <h2 id="jobtitle">Interaction Designer</h2> -->
        <div id="navigation">
            <span id="workdropdown">
                <span class="tabs"><a href="../index.html">WORK</a>
                    <div id="worklist">
                        <div class="column">
                            <p>UX Design</p>
                            <p><a href="../enroute/enroute.html">En Route</a></p>
                            <p><a href="../knowie/knowie.html">Knowie</a></p>
                            <p><a href="../theweatherbox/theweatherbox.html">The Weather Box</a></p>
                        </div>
                        <div class="column">
                            <p>Graphic/Motion Design</p>
                            <p><a href="../kitchen/kitchen.html">Brisk Kitchen</a></p>
                        </div>
                        <div class="column">
                            <p>Animation</p>
                            <p><a href="../jigsawpuzzle/jigsawpuzzle.html">Jigsaw Puzzle</a></p>
                            <p><a href="../journey/journey.html">Journey around the Globe</a></p>
                        </div>
                    </div>
                </span>
            </span>
            <span class="tabs"><a href="../about/about.html">ABOUT</a></span>
        </div>
    </div>
    <div id="containerexample">
        <h2>space</h2>
    </div>
    <div id="project">
        <h1 id="projecttitle">Project Title</h1>
        <div id="basicinfo">
            <p>2018</p>
            <p>Individual Project</p>
            <p>Product Design | UX/UI</p>
        </div>
        <div id="projectflow">
            <div class="flexflow">
                <div id="projectbrief">
                    <p>eg</p>
                </div>
                <h3 class="subtitles">eg</h3>
                <div class="contentblocks" id="example">
                    <p>eg</p>
                </div>
            </div>
        </div>


        <div id="bottomnavigation">
            <span id="back"><a href="../index.html">&lt; WORK</a></span>
            <span id="arrows">
                <span id="prev"><a class="nalink">&lt;&lt;</a></span>
                <span id="next"><a href="../knowie/knowie.html">&gt;&gt;</a></span>
            </span>
        </div>
    </div>
</body>

</html>