#menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  #header {
    margin-top: -4rem;
  }

  /*Style for the first level menu bar*/
  #menu {
    display: block;
    position: relative;
    top: -4rem;
    margin: 0;
    color: var(--grey300);
    text-align: center;
  }

  label {
    font-size: 3rem;
    position: relative;
    display: block;
    transition: color 0.3s;
    cursor: pointer;
    text-align: center;
  }

  label:hover,
  input:checked ~ label {
    color: var(--grey500);
  }

  /*hide the inputs*/
  input {
    display: none;
  }

  /*show the second levele menu of the selected voice*/
  input:checked ~ .submenu {
    max-height: 300px;
    transition: max-height 0.5s ease-in;
  }

  /*style for the second level menu*/
  .submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    min-width: 100%;
  }

  .submenu p a {
    display: block;
    color: var(--grey300);
    text-decoration: none;
    /* font-size: 0.9rem; */
    letter-spacing: 0.1rem;
  }

  .submenu p a:hover {
    color: var(--grey500);
  }
  /* hide side quest tab */
  /* .submenu p:nth-child(2) {
    display: none;
  } */
}
