body {
  max-width: 75%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  margin: 5em auto;
}
/*header*/
#header {
  position: relative;
}
#logo {
  width: 54px;
  display: inline-block;
  position: relative;
  top: 20px;
}
#headtext {
  display: inline-block;
  margin-left: 20px;
}
#name {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: active, sans-serif;
  /* font-family: "DM Sans", sans-serif; */
  font-size: 2.1em;
  font-weight: 400;
  letter-spacing: 0.2em;
}
#name a {
  color: #000000;
}

#containerexample {
  background-color: rgb(136, 155, 144);
  padding: 10px;
  visibility: hidden;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/*navigation*/
#navigation {
  position: absolute;
  top: 35px;
  right: 0px;
}
/* 
#navigation a:link {  
    color: #cccccc;
}
#navigation a:visited {
    color: #cccccc;
} 
*/
#navigation a:hover {
  color: #777777;
}
.tabs a {
  margin-left: 3em;
  color: #cccccc;
  font-size: 1em;
  letter-spacing: 0.1em;
}
#activetab.tabs a {
  color: #777777;
}

#intro {
  width: 75%;
  /* font-family: "DM Serif Display", serif; */
  font-family: "DM Sans", sans-serif;
  font-size: 1.4em;
  color: #333333;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
#intro a:link {
  color: #000000;
}
#intro a:visited {
  color: #000000;
}
#intro a:hover {
  color: #a6dde8;
}

.box a:link {
  color: #777777;
}
.box a:visited {
  color: #777777;
}
.box a:hover {
  color: #444444;
}

/*filters*/
#filters {
  color: #cccccc;
  width: 60%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  line-height: 2em;
  text-align: center;
  font-size: 1.1em;
}
.filter {
  margin-left: 3em;
  display: inline-block;
  cursor: pointer;
}
.filter:hover {
  color: #777777;
}
.active.filter {
  color: #777777;
  padding: 0.2em 0.7em;
  border-bottom: 3px dashed #a6dde8;
}

/*projects*/

.box {
  width: 100%;
  text-align: center;
  margin-bottom: 6em;
  position: relative;
}

.indexpics {
  width: 100%;
  transition: opacity 0.2s ease-in-out;
}

.box.gm {
  display: none;
}

.mask {
  width: 100%;
  height: 100%;
  /* padding-top: 100%; */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.masktext {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.masktext .category {
  font-size: 0.5em;
  font-family: canada-type-gibson, sans-serif;
}

#enroute .mask {
  background: rgb(47, 94, 91);
}
#knowie .mask {
  background: rgb(255, 146, 45);
}
#food .mask {
  background: rgb(35, 81, 151);
}
#makersshack .mask {
  background: rgb(68, 113, 165);
}
#futuredevices .mask {
  background: rgb(104, 23, 84);
}

.box:hover .mask {
  opacity: 0.8;
  cursor: pointer;
}

.projectname {
  display: none;
}

#linkstoother {
  text-align: center;
  /* font-family: "DM Serif Display", serif; */
  font-family: "DM Sans", sans-serif;
  font-size: 1.3em;
  color: #333333;
  font-weight: 400;
}
#linkstoother a {
  display: block;
  margin-bottom: 3em;
  /* border: 3px solid #a6dde8; */
}
#linkstoother a:link {
  color: #000000;
}
#linkstoother a:visited {
  color: #000000;
}
#linkstoother a:hover {
  color: #a6dde8;
}

.more {
  margin-bottom: 5%;
  width: 100%;
}
.moretext {
  color: #777777;
  font-size: 1.2em;
  text-align: center;
}

/*footer*/
#footer {
  margin-top: 200px;
  text-align: center;
  font-size: 0.9em;
  color: #999999;
}

@media screen and (max-width: 1024px) {
  #logo {
    display: block;
    margin: 10px auto;
    top: 0px;
  }
  #headtext {
    margin: 0;
    display: block;
  }
  #name {
    text-align: center;
  }
  #jobtitle {
    text-align: center;
  }
  #navigation {
    display: none;
    position: relative;
    top: 20px;
  }
  .tabs a {
    margin-left: 0;
    margin-right: 3em;
  }
  #intro,
  #filters {
    width: 100%;
  }

  /*one box per row on mobile screen*/
  .box {
    width: 100%;
  }
  .projectname {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8em;
  }
  #filters {
    margin-bottom: 2em;
  }

  .filter {
    margin-left: 0.6em;
  }
}
