body {
    max-width: 75%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Montserrat", sans-serif;
    margin: 5em auto;
}
/*header*/
#header {
    position: relative;
}
#name {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.3em;
}
#name a {
    color: #000000;
}
#jobtitle {
    color: #999999;
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 0;
}

#containerexample {
    background-color: rgb(136, 155, 144);
    padding: 10px;
    visibility: hidden;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.box a:link {
    color: #777777;
}
.box a:visited {
    color: #777777;
}
.box a:hover {
    color: #444444;
}

/*navigation*/
#navigation {
    position: absolute;
    top: 20px;
    right: 0px;
}
/* 
#navigation a:link {  
    color: #cccccc;
}
#navigation a:visited {
    color: #cccccc;
} 
*/
#navigation a:hover {
    color: #777777;
}  
.tabs a{
    margin-left: 3em;
    color: #cccccc;
    font-size: 0.9em;
}
#activetab.tabs a{
    color: #777777;
}

/*grid*/
#grid {
    text-align: justify;
}

.box {
    width: 45%;
    display: inline-block;
    text-align: center;
    margin-bottom: 2em;
    position: relative;
}

.indexpics {
    width: 100%;
    transition: opacity 0.2s ease-in-out;
}

.mask {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#r1-1 .mask {
    background: rgb(255, 146, 45); 
}
#r1-2 .mask {
    background: rgb(47, 50, 255); 
}
#r2-1 .mask {
    background: rgb(82, 0, 177); 
}
#r2-2 .mask {
    background: rgba(255, 31, 31, 0.904);   
}
#r3-1 .mask {
    background: rgb(139, 197, 231); 
}

.mask:hover {
    opacity: 0.5;
    cursor: pointer;
}

/*footer*/
#footer {
    margin-top: 120px;
    text-align: center;
    font-size: 0.8em;
    color: #999999;
}

@media screen and (max-width: 768px) {
    #name {
        text-align: center;
    }
    #jobtitle {
        text-align: center;
    }
    #navigation {
        display: none;
        position: relative;
        top: 20px;
    }
    .tabs a {
        margin-left: 0;
        margin-right: 3em;
    }
    /*one box per row on mobile screen*/
   .box {
    width: 100%;
   }

   #r3-2 {
       display: none;
   }
}