html {
  overflow-x: hidden;
}

:root {
  --grey100: #eee;
  --grey200: #ccc;
  --grey300: #aaa;
  --grey400: #999;
  --grey500: #777;
  --grey600: #666;
  --grey700: #555;
  --grey800: #444;
  --grey900: #333;
  --blue100: #f0fcff;
  --blue200: #c6f1fa;
  --blue300: #a6dde8;
  --errorred: #9f0c0c;
  --goodgreen: #2a8f7d;
  --accent-wildposts-lt: #B2B8EA;
  --accent-enroute-lt: #9CCFBC;
  --accent-maker-lt: #EDD068;
  
  --accent-cpq-lt: #71afe5;
  --accent-cpq-dk: #0078d4;

  --accent-ctx-lt: #05758a;
  --padding-l: 12%;
  --padding-m: 8%;
  --padding-s: 5%;
}

body {
  /* max-width: 1400px; */
  margin: 0;
  padding: 3rem var(--padding-l) 1rem var(--padding-l);
  -webkit-font-smoothing: subpixel-antialiased;
  /* font-family: 'Plus Jakarta Sans', sans-serif; */
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: canada-type-gibson, sans-serif; */
  font-weight: 300;
  /* overflow-x: hidden; */
}
/*header*/
#header {
  position: relative;
}
#logo {
  width: 54px;
  display: inline-block;
  position: relative;
  top: 20px;
}
#headtext {
  display: inline-block;
  margin-left: 20px;
}
#name {
  font-family: 'Carter One', sans-serif;
  /* font-family: active, sans-serif; */
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
#name a {
  color: black;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/*global navigation*/
#navigation {
  position: absolute;
  top: 35px;
  right: 0px;
}
/* 
#navigation a:link {  
    color: var(--grey400);
}
#navigation a:visited {
    color: var(--grey400);
} 
*/
#navigation a:hover {
  color: var(--grey600);
}

.tabs a {
  margin-left: 3rem;
  color: var(--grey400);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.tabs.current a {
  color: var(--grey700);
}

/* hide side quest tab */
/* #navigation span:nth-child(2) {
  display: none;
} */

/* intro section*/
#intro {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grey800);
  text-align: center;
  line-height: 1.5;
  margin: 4rem 0;
  /* animation: fadein 0.8s forwards 18s ease-in-out; */
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* typed intro */
#typeindicator {
  display: none;
  margin-left: 1px;
  border-left: 1px solid black;
  animation: blink 1s ease-in-out infinite;
}
#intro.typing #typeindicator {
  display: inline;
}
.st {
  position: relative;
}
.st #stroke {
  border-top: 3px solid var(--grey800);
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 100%;
  /* animation: strike 0.5s ease-in-out 1 forwards;  */
}
#stroke.inmotion {
  animation-name: strike;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes strike {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#intro a:link {
  color: var(--grey600);
}
#intro a:visited {
  color: var(--grey600);
}
#intro a:hover {
  text-decoration: underline;
}

/*filters*/
/* #filters {
  width: 75%;
  color: var(--grey300);
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
.filter {
  display: inline-block;
  cursor: pointer;
  margin-right: 2rem;
}
.filter:hover {
  color: var(--grey500);
}
.active.filter {
  color: var(--grey900);
  padding: 0.2rem 0.7rem;
  border-bottom: 2px solid var(--grey500);
} */

/*projects*/
#projects {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  /* sectioned off with tabs */
  /* margin: 0 -999rem;
  padding: 3rem 999rem;
  background: #f5f5f5;
  text-align: justify; */
}


.box a {
  display: flex;
  align-items: center;
  position: relative;
}
.boxlabel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.boxlabel .projecttitle {
  font-size: 1.6rem;
  color: var(--grey900);
  font-weight: 700;
}
.boxlabel .themetags {
  color: var(--grey500);
}
.boxlabel .description {
  color: var(--grey800);
}
.boxlabel .access {
  font-style: italic;
  color: var(--grey600);
  margin-top: 0.5rem;
}


/* gm rules*/
.box.gm .boxlabel {
  width: 100%;
  margin-top: 0.8rem;
}
.box.gm .boxlabel p {
  margin: 0.2rem;
}
.box.gm .boxlabel .projecttitle {
  font-size: 1.4rem;
}

/*footer*/
#footer {
  margin-top: 10vw;
  text-align: center;
  font-size: 0.9rem;
  color: var(--grey400);
}

#footer p::after {
  content: "\00A9  2022 Jillian Luo";
}

@media screen and (min-width: 1024px) {
  #projects {
    justify-content: space-between;
  }
  .box {
    max-width: 48%;
    min-width: 320px;
    margin-bottom: 4%;
  }
  /* .box:nth-child(4n+1), .box:nth-child(4n+2) {
    margin-right: 25%;
  }
  .box:nth-child(4n+3), .box:nth-child(4n) {
    margin-left: 25%;
  } */
  .boxlabel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255,255,255, 0.8);
    box-sizing: border-box;
    border: 1rem solid var(--grey200);
    opacity: 0;
    border-radius: 4px;
    transition: opacity 0.5s;
  }
  #cpq .boxlabel {
    border-color: var(--accent-cpq-lt);
  }
  #wildposts .boxlabel {
    border-color: var(--accent-wildposts-lt);
  }
  #makersshack .boxlabel {
    border-color: var(--accent-maker-lt);
  }
  #enroute .boxlabel {
    border-color: var(--accent-enroute-lt);
  }
  .box:hover .boxlabel {
      opacity: 1;
      transition: opacity 0.8s;
  }
  .boxlabel > div {
    width: 80%;
    margin: 0 auto;
  }
  .coverimg {
    width: 100%;
    border-radius: 4px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0 var(--padding-m);
    padding-top: 3rem;
  }
  #logo {
    display: block;
    margin: 10px auto;
    top: 0px;
  }
  #headtext {
    margin: 0;
    display: block;
  }
  #name {
    text-align: center;
  }
  #jobtitle {
    text-align: center;
  }
  #navigation {
    display: none;
    position: relative;
    top: 20px;
  }
  #intro {
    font-size: 1.2rem;
    margin: 3rem 0;
  }

  #tag {
    max-width: 80%;
  }
  #projects {
    margin-top: 1rem;
  }
  /* #filters {
    width: 100%;
    letter-spacing: 0;
  }
  .filter {
    margin-right: 1rem;
  } */
  .box {
    width: 100%;
    margin-bottom: 5%;
  }
  .box a {
    justify-content: center;
    gap: 2rem;
  }
  .box:nth-child(odd) a {
    flex-direction: row;
  }
  .box:nth-child(even) a {
    flex-direction: row-reverse;
  }
  .coverimg {
    width: 45%;
    border-radius: 12px;
  }
  .boxlabel {
    width: 45%;
  }
  .box:nth-child(odd) .boxlabel {
    text-align: left;
  }
  .box:nth-child(even) .boxlabel {
    text-align: right;
  }
  .boxlabel div {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
    padding: 0 var(--padding-s);
    padding-top: 3rem;
  }
  .boxlabel .projecttitle {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .coverimg {
    width: 100%;
  }
  .boxlabel {
    display: none;
  }
}
