#titleinfo {
  width: 100%;
}

#projecttitle {
  margin-top: 1em;
}
#basicinfo {
  margin-bottom: 4em;
}
#tools {
  margin-top: 2em;
}

.contentblocks {
  width: 100%;
}

p.captions {
  margin-top: 1em !important;
}

@media screen and (max-width: 1024px) {
  #project {
    margin-top: 2em;
  }
  #basicinfo {
    margin-bottom: 4em;
  }
}
@media screen and (max-width: 768px) {
  div.contentblocks {
    width: 100%;
  }
}
