body {
    max-width: 75%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 300;
    margin: 5em auto;
}
/*top*/
#header {
    position: relative;
}
#logo {
    width: 48px;
    display: inline-block;
    margin-left: 50px;
}
/* #name {
    font-family: neon-stream, sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    margin-bottom: 0.4em;
}
#name a {
    color: #000000;
}
#jobtitle {
    color: #999999;
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 0;
} */
#containerexample {
    background-color: rgb(136, 155, 144);
    padding: 10px;
    visibility: hidden;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
#navigation {
    position: absolute;
    top: 15px;
    right: 0px;
}
#navigation a:hover {
    color: #777777;
}
.tabs a{
    color: #cccccc;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.1em;
}
#activetab.tabs a{
    color: #777777;
}

#workdropdown {
    float: left;
    overflow: hidden;
    margin-right: 20px;
}
#workdropdown .tabs {
    text-align: right;
    display: inline-block;
    margin-right: 50px;
}
#worklist {
    height: 0;
    position: relative;
    top: 30px;
    left: 35px;
    z-index: 1;
    background: rgb(245, 248, 250);
    /* border: solid rgb(237, 247, 250); */
}
#workdropdown:hover #worklist {
    height: 210px;
    transition:height 0.2s ease-in-out;
}
#worklist .column p {
    width: fit-content;
    margin: 20px auto;
}
#worklist .column p:hover {
    /* background: #cccccc; */
}
.column {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: top;
    /* text-align: center; */
}

/*project*/
#project {
    font-family: canada-type-gibson, sans-serif;
}
#projecttitle {
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    line-height: 0.8em;
    font-family: active, sans-serif;
}
#projectsubtitle {
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    font-family: active, sans-serif;
}
div#basicinfo {
    margin-top: 90px;
    margin-bottom: 100px;
    color: #777777;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
}
#basicinfo p {
    margin-bottom: -10px; 
    text-align: center;
}
#projectflow a:link {
    text-decoration: underline dotted #777777;
    color: #777777;
}
#projectflow a:visited {
    text-decoration: underline dotted #777777;
    color: #777777;
}
#projectflow div {
    margin-bottom: 30px;
}
#projectflow p {
    color: #333333;
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 300;
    font-style: normal;
}
.flexflow {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
h3.subtitles {
    font-size: 1.3em;
    letter-spacing: 0.1em;
    color: #cccccc;
    padding-top: 50px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}
.ctext {
    width: 65%;
    margin: 0 auto;
}
.images {
    max-width: 100%;
}
#projectflow p.captions {
    text-align: center;
    font-size: 0.9em;
    color: #cccccc;
}

#footnotes {
    margin: 5em auto 1em auto;
}
#footnotes p{
    font-size: 0.9em;
    color: #999;
}
hr {
    border: 1px dashed #aaa;
    margin-top: 1em;
    width: 100%;
}
#lessons {
    font-family: 'Merriweather', serif;
    margin: 120px auto;
    width: 20%;
    font-size: 1.1em;
    text-align: center;
    color: #777;
}
#lessonslist {
    margin: 30px auto;
    width: 70%;
    text-align: justify;
    color: #777;
}
/*bottom*/
#bottomnavigation {
    margin-top: 150px;
    padding-bottom: 80px;
    position: relative;
    color: #cccccc;
    letter-spacing: 0.1em;
}
#bottomnavigation a:link{
    color: #cccccc
}
#bottomnavigation a:visited{
    color: #cccccc
}
#bottomnavigation a:hover{
    color: #777777;
}
#bottomnavigation a.nalink:hover {
    color: #cccccc
}
#back {
    position: absolute;
    left: 0;
}
#arrows {
    position: absolute;
    right: 0;
    text-align: right;
}
#next {
    margin-left: 20px;
}
#top {
    margin-left: 20px;
}
/*mobile*/
@media screen and (max-width: 768px) {
    #name {
        text-align: center;
    }
    #jobtitle {
        text-align: center;
    }
    #navigation {
        display: none;
        position: relative;
        top: 20px;
    }
    #workdropdown #worklist {
        display: none;
    }
    h3.subtitles {
        width: 100%;
    }
    #projectflow .flexflow div.contentblocks {
        width: 100%
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h3.subtitles {
        width: 100%;
    }
    #workdropdown #worklist {
        display: none;
    }
}

