body {
  margin: 0;
  padding: 0;
}
#header {
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px -1px rgba(122, 122, 122, 0);
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 120px;
  transition: box-shadow 0.2s;
}
#header.withshadow {
  box-shadow: 0px 4px 5px -1px rgba(122, 122, 122, 0.5);
}

#homelink {
  position: fixed;
  left: 12%;
  top: 40px;
  transition: top 0.1s;
}
#homelink.movedup {
  top: 0px;
}
/*for projects without content nav bar */
#homelink.nudge {
  top: 20px;
}

#logo {
  width: 48px;
  display: inline-block;
}

#navigation {
  position: fixed;
  right: 12%;
  top: 70px;
  transition: top 0.1s;
}
#navigation.movedup {
  top: 35px;
}
/*for projects without content nav bar */
#navigation.nudge {
  top: 50px;
}
/*content nav bar*/
#contentnav {
  font-family: "DM Sans", sans-serif;
  position: fixed;
  top: 85px;
  z-index: 1;
  opacity: 0;
  width: 100vw;
  background-color: #eee;
  padding: 7px;
  transition: opacity 0.2s;
}
#contentnav.showing {
  opacity: 1;
}
#navtitle {
  margin-right: 2em;
  margin-left: 12%;
  font-weight: 700;
}

.navitems {
  margin: 0 1em;
  color: #aaa;
}
.navitems:hover {
  color: #777;
}

#contentnav .activepart.navitems {
  color: #777;
  font-weight: 500;
}

#containerexample {
  height: 150px;
}
/*
#workdropdown {
    float: left;
    overflow: hidden;
    margin-right: 20px;
}
#workdropdown .tabs {
    text-align: right;
    display: inline-block;
    margin-right: 50px;
}
#worklist {
    height: 0;
    position: relative;
    top: 30px;
    left: 35px;
    z-index: 1;
    background: rgb(245, 248, 250);
}
#workdropdown:hover #worklist {
    height: 210px;
    transition:height 0.2s ease-in-out;
}
#worklist .column p {
    width: fit-content;
    margin: 20px auto;
}
*/

/*sidebar*/
/* #sidebar {
  font-family: "DM Sans", sans-serif;
  position: fixed;
  top: 25%;
  left: 5%;
  z-index: 1;
}
#sidebar a {
  display: block;
  line-height: 2em;
  color: #aaa;
}
.sideitems {
  opacity: 0;
  position: relative;
  top: 200px;
}
#sidebar .activesec.sideitems {
  color: #777;
  font-weight: 500;
} */

/*project*/
#project {
  font-family: canada-type-gibson, sans-serif;
}
#projecthead {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */
  margin-bottom: 1em;
  text-align: center;
}

#titleimage {
  width: 100%;
  margin-bottom: 2em;
}
#titleimage img {
  width: 100%;
  display: block;
}

#projecttitle {
  font-family: "DM Sans", sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  margin: 0.8em 9%;
}
#projectsubtitle {
  font-size: 1.6em;
  font-weight: 400;
}
#basicinfo {
  margin-top: 3em;
  margin-bottom: 3em;
  color: #777777;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 9%;
}
#basicinfo div {
  margin-bottom: 0.5em;
}
.fas {
  margin-right: 1em;
}

.flexflow {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-start; */
  align-items: center;
  padding: 0 12%;
}
.flexflow a:link {
  text-decoration: underline dotted #777777;
  color: #777777;
}
.flexflow a:visited {
  text-decoration: underline dotted #777777;
  color: #777777;
}
.flexflow div {
  margin-bottom: 2em;
}

.contentblocks p {
  color: #333333;
  line-height: 1.5em;
  font-size: 1.3em;
  font-weight: 300;
  font-style: normal;
}
.contentblocks p.subheading {
  font-size: 1.4em;
  font-weight: 700;
  color: #777777;
}
/* override bottom margin */
#projectbrief {
  margin-bottom: 1em;
}
#psflex {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h3.subtitles {
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: #cccccc;
  padding-top: 3em;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
/*widths*/
.fullwidth {
  width: 100%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w45 {
  width: 45%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w80 {
  width: 80%;
}
.ctext {
  width: 75%;
  margin: 0 auto;
}
.images {
  max-width: 100%;
}
.contentblocks p.captions {
  font-size: 1em;
  color: #999;
  margin: 0.5em auto;
  text-align: center;
}

/*video player*/
.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 100%;
}
.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*image slideshow*/
.slidecontainer {
  width: 100%;
  position: relative;
  margin-bottom: 0;
}
.prevbtn,
.nextbtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -40px;
  color: #777;
  font-weight: bold;
  font-size: 24px;
  transition: 0.2s ease;
  border-radius: 3px;
  user-select: none;
}
.prevbtn {
  left: -60px;
}
.nextbtn {
  right: -60px;
}
.prevbtn:hover,
.nextbtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideindicator {
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.activedot,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

hr {
  border: 1px dashed #aaa;
  margin-top: 1em;
  width: 100%;
}
#lessons {
  font-family: "DM Sans", sans-serif;
  margin: 100px auto;
  width: 20%;
  font-size: 1.2em;
  text-align: center;
  color: #777;
}

#lessonslist {
  margin: 30px auto;
  width: 70%;
  text-align: justify;
  color: #777;
}
/*bottom*/
#bottomnavigation {
  display: none;
  height: 20px;
  position: relative;
  color: #aaa;
  margin: 50px 12%;
  letter-spacing: 0.1em;
}
#bottomnavigation a:link {
  color: #aaa;
}
#bottomnavigation a:visited {
  color: #aaa;
}
#bottomnavigation a:hover {
  color: #777;
}
#bottomnavigation a.nalink:hover {
  color: #aaa;
}
#back {
  position: absolute;
  left: 0;
}
#arrows {
  position: absolute;
  right: 0;
  text-align: right;
}
#next {
  margin-left: 20px;
}
#top {
  margin-left: 20px;
}

#footer {
  text-align: center;
  font-size: 0.9em;
  color: #999;
}

/*mobile*/
@media screen and (max-width: 1024px) {
  /*override main.css logo margin*/
  #logo {
    margin: 0 auto;
    top: 20px;
  }
  #navigation {
    display: block;
  }
  #projecthead {
    display: block;
    background-color: transparent;
    margin-bottom: 1em;
  }
  #titleinfo {
    width: 100%;
  }
  #titleimage {
    width: 100%;
    margin-bottom: 1em;
  }
  #basicinfo {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .flexflow {
    padding: 0 8%;
  }
  h3.subtitles {
    padding: 2em 0 1em 0;
    margin-bottom: auto;
  }
  #sidebar {
    display: none;
  }
  .ctext {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 0.9em;
  }
  #header {
    height: 80px;
  }
  #homelink {
    position: static;
    left: 50%;
    top: 50px;
    margin-left: -24px;
  }
  #logo {
    display: block;
    top: 0;
  }
  #navigation {
    display: none;
    position: relative;
    top: 20px;
  }
  #contentnav {
    display: none;
  }
  #containerexample {
    height: 60px;
  }
  .flexflow {
    padding: 0 5%;
  }
  .contentblocks {
    width: 100% !important;
  }
  .ps {
    width: 100%;
  }
  #lessons {
    margin: 0 auto;
    width: 100%;
  }
  #lessonslist {
    margin: 0 auto;
    width: 90%;
  }
}
