#dimsum.contentblocks {
  margin-bottom: 60px;
}
#icecream.contentblocks {
  margin-bottom: 60px;
}
#pizza.contentblocks {
  margin-bottom: 60px;
}
#ramen.contentblocks {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  #projectflow .flexflow div.contentblocks {
    width: 100%;
  }
}
