body {
  background-color: #f3f3f3;
}

#categories {
  color: #aaa;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-bottom: 2em;
}
.gridcontainer {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
  /* display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: space-between; */
  margin: 0;
}
.item {
  cursor: pointer;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}
.item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 5 / 9;
}
.item:nth-child(3) {
  grid-row: 1 / 2;
  grid-column: 9 / 13;
}
.item:nth-child(4) {
  grid-row: 2 / 4;
  grid-column: 1 / 8;
}
.item:nth-child(5) {
  grid-row: 2 / 3;
  grid-column: 8 / 13;
}
.item:nth-child(5) {
  grid-row: 4 / 5;
  grid-column: 8 / 13;
}
#weatherbox {
  display: none;
}
/* #sftopo {
  width: 30%;
  flex: 1 1 auto;
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.closebtn {
  color: #eeeeee;
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 36px;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  margin: auto;
  height: 75vh;
  text-align: center;
}

.modal-content img {
  height: 100%;
  border: white solid 15px;
}

.modal-content p {
  font-size: 1.2em;
  color: rgb(196, 196, 196);
}

.video {
  height: 100%;
  position: relative;
  /* height:0;
    overflow:hidden;
    padding-bottom:56.25%; */
}
.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .item {
    width: 100% !important;
  }
}
