#compose, #play1, #play2{
    width:100%;
    text-align: center;
}
#logo .images {
    width: 100%;
}
/* #play1 .images, #play2 .images {
    transform: scale(1.1);
    margin-top: 10%;
    margin-bottom: 10%;
} */

@media screen and (max-width: 768px) {
    #projectflow .flexflow div.contentblocks p{
        width: 100%
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .ctext {
        width: 100%;
    }
}