#projectbrief, #firststep, #seconditeration, #finaliteration {
    width: 65%;
    margin: 0 auto;
}
.contentblocks#usergroupspic {
    width: 70%;
}
.contentblocks#usergroups {
    width: 28%;
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #projectbrief, #firststep, #seconditeration, #finaliteration {
        width: 100%;
    }
    .contentblocks#usergroupspic {
        width: 100%;
    }
    .contentblocks#usergroups {
        width: 100%;
    }
}