/* body {
  background-color: #e7f5f8;
} */

#biocontainer {
  width: 75%;
  margin: 0 auto;
}

#biotitle {
  color: #333;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

#bio {
  line-height: 1.5em;
  text-align: left;
  color: #333;
  font-size: 1.2em;
}

#nature {
  height: 255px;
  margin: 3em auto;
  display: block;
}

#sociallinks {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
.social {
  margin: 0 20px;
}
.social a i {
  font-size: 30px;
  color: #333;
}

@media screen and (max-width: 768px) {
  #biocontainer {
    width: 95%;
  }
}
