/* body {
  background-color: #e7f5f8;
} */
#containerexample {
  height: 60px;
}
#biocontainer {
  padding: 0 5%;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#sociallinks {
  width: 100%;
  margin-bottom: 2em;
  /* margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center; */
}
.social {
  margin: 0 1em;
  float: right;
}
.social a i {
  font-size: 26px;
  color: #666;
}

#linkedin a i:hover {
  color: #0e76a8;
}
#instagram a i:hover {
  color: #f25555;
}
/* #biotitle {
  color: #333;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-align: center;
} */

.aboutsub {
  display: inline-block;
  font-size: 1.4em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  width: 25%;
}
.aboutblock {
  display: inline-block;
  width: 70%;
  line-height: 1.5em;
  text-align: left;
  color: #333;
  font-size: 1.2em;
}
.aboutblock p {
  margin: 0 0 1em 0;
}
.breakgap {
  width: 100%;
  height: 4em;
}
a.externallink {
  font-style: italic;
}
a.externallink:hover {
  color: #a6dde8;
}
a:link {
  color: #666;
}
a:visited {
  color: #666;
}

.tools {
  height: 2.5em;
  display: inline;
  margin: 0 1.6em 1em 0;
}
#nature {
  display: block;
  width: 300px;
  margin: 0 auto 3em auto;
}

@media screen and (max-width: 1024px) {
  .bblock {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .aboutsub {
    width: 100%;
    margin-bottom: 0.2em;
  }
  .aboutblock {
    width: 100%;
  }
  .breakgap {
    height: 1em;
  }
}

@media screen and (max-width: 480px) {
  #nature {
    width: 80%;
  }
  #biocontainer {
    padding: 0 0;
  }
}
