#projectbrief, #user, #prototyping, #code {
    width: 65%;
    margin: 0 auto;
}

.contentblocks#persona {
    width: 48%;
}
.contentblocks#schedule {
    width: 48%;
}
.contentblocks#products {
    width: 44%;
}
.contentblocks#sketches {
    width: 54%;
}
.contentblocks#wiring {
    width: 45%;
}
.contentblocks#prototype {
    width: 50%;
}
.contentblocks#testgif {
    width: 58%;
}
.contentblocks#test {
    width: 38%;
}


@media screen and (max-width: 768px) {
    #projectflow #projectbrief {
        width: 100%;
    }  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #projectbrief, #user, #prototyping, #code {
        width: 100%;
    }
    .contentblocks#persona {
        width: 100%;
    }
    .contentblocks#schedule {
        width: 100%;
    }
    .contentblocks#testgif {
        max-width: 100%;
        margin: 0 auto;
    }
    .contentblocks#test {
        width: 100%;      
    } 
}