.listofq {
    font-size: 1.2em;
}
#uidesign p{
    width: 65%;
    margin: 0 auto;   
}

.contentblocks#lessons {
    margin: 80px auto;
}


@media screen and (max-width: 768px) {

    #projectflow .flexflow div.contentblocks p{
        width: 100%
    }
    .ui .images{
        width: 75%;
        margin-left: 12%;  
    }
    .ui#last2, .ui#last1 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #projectbrief, #problemstatement1, #problemstatement2, #persona, #brainstorm, #platforms, #questions, #brainstorm2 {
        width: 100%;
    }
    #uidesign p{
        width: 100%;   
    }
}