body {
    max-width: 75%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "Montserrat", sans-serif;
    margin: 5em auto;
}

#header {
    position: relative;
}

#name {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.3em;
}
#name a {
    color: #000000;
}

#jobtitle {
    color: #999999;
    font-size: 0.5em;
    font-weight: 400;
    margin-top: 0;
}

#containerexample {
    background-color: rgb(136, 155, 144);
    padding: 10px;
    visibility: hidden;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
#navigation {
    position: absolute;
    top: 15px;
    right: 0px;
}
#navigation a:hover {
    color: #777777;
}  
.tabs a{
    margin-left: 3em;
    color: #cccccc;
    font-size: 0.9em;
}
#activetab.tabs a{
    color: #777777;
}
#projecttitle {
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
}

div#basicinfo {
    margin-top: 90px;
    margin-bottom: 100px;
    color: #777777;
    font-size: 0.9em;
}
#basicinfo p {
    margin-bottom: -10px; 
    text-align: center;
}
#projectflow div {
    margin-bottom: 30px;
}
#projectflow p {
    color: 666666;
    line-height: 1.5em;
}
.flexflow {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
h3.subtitles {
    font-size: 1.3em;
    color: #cccccc;
    padding-top: 20px;
}

.flexflow h3 {
    width: 100%;
}

.images {
    max-width: 100%;
}
#projectflow p.captions {
    text-align: center;
    font-size: 0.8em;
    color: #cccccc;
}

.contentblocks#brainstormpic {
    width: 50%;
}
.contentblocks#brainstorm {
    width: 45%;
}
.contentblocks#brainstormpic2 {
    width: 50%;
}
.contentblocks#brainstorm2 {
    width: 45%;
}
.contentblocks.ui {
    width: 30%;
}
.ui .images {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.ui#last2 {
    margin-left: 10%;
}
.ui#last1 {
    margin-right: 10%;
}
.contentblocks.desktop {
    width: 45%;
}


#bottomnavigation {
    margin-top: 200px;
    padding-bottom: 80px;
    position: relative;
    color: #cccccc;
}

#bottomnavigation a:link{
    color: #cccccc
}
#bottomnavigation a:visited{
    color: #cccccc
}
#bottomnavigation a:hover{
    color: #777777;
}
#back {
    position: absolute;
    left: 0;
}
#arrows {
    position: absolute;
    right: 0;
    text-align: right;
}
#next {
    margin-left: 20px;
}


@media screen and (max-width: 768px) {
    #name {
        text-align: center;
    }
    #jobtitle {
        text-align: center;
    }
    #navigation {
        display: none;
        position: relative;
        top: 20px;
    }
    #projectflow .flexflow div.contentblocks {
        width: 100%
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contentblocks#brainstormpic {
        width: 100%;
    }
    .contentblocks#brainstorm {
        width: 100%;
    }
    .contentblocks#brainstormpic2 {
        width: 100%;
    }
    .contentblocks#brainstorm2 {
        width: 100%;
    }

}